/* Scrollbar */
::-webkit-scrollbar
{
    width: 7.5px;
    height: 5px;
}
::-webkit-scrollbar-button
{
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb
{
    background: #6e6e6e;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover
{
    background: #d9d9d9;
}
::-webkit-scrollbar-thumb:active
{
    background: #b8b8b8;
}
::-webkit-scrollbar-track
{
    background: rgba(102, 102, 102, 0.5);
    border-radius: 0px;
}
::-webkit-scrollbar-track:hover
{
    background: #666666;
}
::-webkit-scrollbar-track:active
{
    background: #333333;
}
::-webkit-scrollbar-corner
{
    background: transparent;
}

/* Fix Bootstrap Issues */
.btn
{
    white-space: normal;
}

/* Vars */
$theme-color: #ff531f;
$theme-color-secondary: #fdad44;
$theme-color-menu: #3e3e3e;
$text-color: #000;
$text-color-alt: #fff;
$text-color-disabled: #6c757d;

/* Page Content */
*
{
    font-family: 'Nunito', sans-serif;
}

html
{
    overflow-x: hidden;
    overflow-y: hidden;
    &:hover
    {
        overflow-y: auto;
    }
}

body
{
    background-color: $theme-color-menu;
    transition: background-color 0.5s ease;
}

p,h1,h2,h3,h4,h5,h6,label
{
    user-select: none;
}

.navbar
{
    background-image: url(../img/wallpaper.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    //background-image: linear-gradient(160deg, $theme-color 60%, $theme-color-secondary 100%);
}

#main-content
{
    .navside
    {
        min-height: calc(100vh - 59px);
        background-color: $theme-color-menu;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 0px;

        a[href]
        {
            color: $text-color-alt;
            &.disabled
            {
                color: $text-color-disabled !important; 
            }
            &:hover
            {
                color: $theme-color-secondary;
            }
        }

        #version
        {
            position: absolute;
            bottom: 5px;
            padding-left: 15px;
            color: $text-color-disabled;
        }
    }

    #content
    {
        padding-top: 10px;
    }

}

/* Loading Animation */
      
.triple-spinner
{
    display: inline-block;
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #FF5722;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    &::before, &::after
    {
        content: "";
        position: absolute;
        border-radius: 50%;
        border: 4px solid transparent;
    }

    &::before
    {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-top-color: #FF9800;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3.5s linear infinite;
    }

    &::after
    {
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-top-color: #FFC107;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.75s linear infinite;
    }

}
    
@-webkit-keyframes spin
{
    from
    {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to
    {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes spin 
{
    from
    {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to
    {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.input-group-text
{
    &:hover
    {
        color: black;
    }
}

// Password Strength Meter
meter
{
    margin: 0 auto;
    width: 100%;
    height: 0.5em;
    border-radius: 0.25em;
  
    &::-webkit-meter-bar 
    {
        border: 1px solid white;
        background: none;
        background-color: rgb(44, 44, 44);
    }
  
    &[value="1"]::-webkit-meter-optimum-value 
    {
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,60,0,1) 100%);
    }
  
    &[value="2"]::-webkit-meter-optimum-value 
    {
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,60,0,1) 50%, rgba(255,165,0,1) 100%);
    }
  
    &[value="3"]::-webkit-meter-optimum-value 
    {
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,60,0,1) 33%, rgba(255,165,0,1) 66%, rgba(255,255,0,1) 99%);
    }
  
    &[value="4"]::-webkit-meter-optimum-value 
    {
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,60,0,1) 25%, rgba(255,165,0,1) 50%, rgba(255,255,0,1) 75%, rgba(5,255,0,1) 100%);
    }
}
