/* Scrollbar */
::-webkit-scrollbar
{
    width: 7.5px;
    height: 5px;
}
::-webkit-scrollbar-button
{
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb
{
    background: #6e6e6e;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover
{
    background: #d9d9d9;
}
::-webkit-scrollbar-thumb:active
{
    background: #b8b8b8;
}
::-webkit-scrollbar-track
{
    background: rgba(102, 102, 102, 0.5);
    border-radius: 0px;
}
::-webkit-scrollbar-track:hover
{
    background: #666666;
}
::-webkit-scrollbar-track:active
{
    background: #333333;
}
::-webkit-scrollbar-corner
{
    background: transparent;
}

/* Vars */
$theme-color: #ff531f;
$theme-color-secondary: #fdad44;
$theme-color-menu: #3e3e3e;
$text-color: #000;
$text-color-alt: #fff;
$text-color-disabled: #6c757d;

/* Page Content */
*
{
    font-family: 'Nunito', sans-serif;
}

html
{
    overflow-x: hidden;
    overflow-y: hidden;
    &:hover
    {
        overflow-y: auto;
    }
}

body
{
    background-color: $theme-color-menu;
    transition: background-color 0.5s ease;
}

.navbar
{
    background-image: url(../img/wallpaper.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    //background-image: linear-gradient(160deg, $theme-color 60%, $theme-color-secondary 100%);
}

#main-content
{
    .navside
    {
        min-height: calc(100vh - 59px);
        background-color: $theme-color-menu;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 0px;

        a[href]
        {
            color: $text-color-alt;
            &.disabled
            {
                color: $text-color-disabled !important; 
            }
            &:hover
            {
                color: $theme-color-secondary;
            }
        }

        #version
        {
            position: absolute;
            bottom: 5px;
            padding-left: 15px;
            color: $text-color-disabled;
        }
    }

    #content
    {
        padding-top: 10px;
    }

}

