/* Scrollbar */
::-webkit-scrollbar {
  width: 7.5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #6e6e6e;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}

::-webkit-scrollbar-thumb:active {
  background: #b8b8b8;
}

::-webkit-scrollbar-track {
  background: rgba(102, 102, 102, 0.5);
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Fix Bootstrap Issues */
.btn {
  white-space: normal;
}

/* Vars */
/* Page Content */
* {
  font-family: 'Nunito', sans-serif;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

html:hover {
  overflow-y: auto;
}

body {
  background-color: #3e3e3e;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

p, h1, h2, h3, h4, h5, h6, label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar {
  background-image: url(../img/wallpaper.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#main-content .navside {
  min-height: calc(100vh - 59px);
  background-color: #3e3e3e;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 0px;
}

#main-content .navside a[href] {
  color: #fff;
}

#main-content .navside a[href].disabled {
  color: #6c757d !important;
}

#main-content .navside a[href]:hover {
  color: #fdad44;
}

#main-content .navside #version {
  position: absolute;
  bottom: 5px;
  padding-left: 15px;
  color: #6c757d;
}

#main-content #content {
  padding-top: 10px;
}

/* Loading Animation */
.triple-spinner {
  display: inline-block;
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #FF5722;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.triple-spinner::before, .triple-spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 4px solid transparent;
}

.triple-spinner::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #FF9800;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3.5s linear infinite;
}

.triple-spinner::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #FFC107;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.75s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.input-group-text:hover {
  color: black;
}

meter {
  margin: 0 auto;
  width: 100%;
  height: 0.5em;
  border-radius: 0.25em;
}

meter::-webkit-meter-bar {
  border: 1px solid white;
  background: none;
  background-color: #2c2c2c;
}

meter[value="1"]::-webkit-meter-optimum-value {
  background: -webkit-gradient(linear, left top, right top, from(black), to(#ff3c00));
  background: linear-gradient(90deg, black 0%, #ff3c00 100%);
}

meter[value="2"]::-webkit-meter-optimum-value {
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, #ff3c00), to(orange));
  background: linear-gradient(90deg, black 0%, #ff3c00 50%, orange 100%);
}

meter[value="3"]::-webkit-meter-optimum-value {
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(33%, #ff3c00), color-stop(66%, orange), color-stop(99%, yellow));
  background: linear-gradient(90deg, black 0%, #ff3c00 33%, orange 66%, yellow 99%);
}

meter[value="4"]::-webkit-meter-optimum-value {
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(25%, #ff3c00), color-stop(50%, orange), color-stop(75%, yellow), to(#05ff00));
  background: linear-gradient(90deg, black 0%, #ff3c00 25%, orange 50%, yellow 75%, #05ff00 100%);
}
/*# sourceMappingURL=main.css.map */