body
{
    background-image: url(../img/wallpaper.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    color: white;
}

#bckbtn
{
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 32px;
    color: white;

    transition: all 0.2s ease;

    &:hover
    {
        transform: rotate(-45deg) scale(1.2);
        cursor: pointer;
    }

}

.setup-card
{
    margin: 15px;
    padding: 5px;
    border-radius: 0.25em;
    border: 3px solid white;
    background-color: rgba($color: #ffffff, $alpha: 0.1);

    transition: all 0.2s ease;

    .fas, .fab
    {
        font-size: 72px;
    }

    &:hover
    {
        transform: scale(1.2);
        color: black;
        background-color: white;
        box-shadow: 5px 5px 10px black;
        cursor: pointer;
    }

}

